* {
	margin: 0;
	padding: 0;
}


.desktop {
	height: 600px;
	width: 1300px;
	margin: 5px auto;
	border-radius: 5px;
	-webkit-box-shadow: -1px 2px 3px 2px rgba(148,139,148,0.5);
	-moz-box-shadow: -1px 2px 3px 2px rgba(148,139,148,0.5);
	box-shadow: -1px 2px 3px 2px rgba(148,139,148,0.5);
}

#image-desktop {
	background-image: url(https://secureservercdn.net/198.71.233.184/779.3d0.myftpupload.com/wp-content/uploads/2019/03/Web-Development-250525138x1519.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 1300px;
	padding: 5px;
	-moz-box-sizing: border-box; 
	display: block;   
	box-sizing: border-box;   
	
}

.name {	
	
}

.container {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #F1F1F1;
	width: 100px;
	padding: 10px;
}